body{
    color: #ffbb55;
    background-color: #333344;
}
a:link{
   color: #444455;
   background-color: #eebb66; 
}
a:visited{
    color: #334455;
    background-color: #eebb66;
}
a:hover{
    color: #666677;
    background-color: #ffbb55;
}
a:active{
    color: #777788;
    background-color: #eecc88;
}
header{
    color: #eecc88;
    background-color: #778899;
    border-color: #666677;
}
header nav{
    color: #445555;
    background-color: #778899;
    border-color: #666677;
}
article{
    color: #222233;
    background-color: #eeddcc;
    border-color: #667;
}
header nav ul{
    border-color: #99a;
}
header nav a:link,header nav a:visited{
    color: #eeeeff;
    background-color: transparent;
    border-color: #9999aa;
}
header nav a:hover{
    color: #444455;
    background-color: #eebb66;
}
header nav a:active{
    color: #667;
    background-color: #eecc88;
}
article img{
    border-color: #bbaa99;
    outline-color: #dcb;
}
#imagegallery a{
    background-color: transparent;
}
header nav a.here:link,
header nav a.here:visited,
header nav a.here:hover,
header nav a.here:active{
    color:#eef;
    background-color: #779999;
}
th{
    color: #eeddcc;
    background-color: #444455;
}
tr td{
    color: #222233;
    background-color: #eebb66;
}
tr.odd td{
    color:#233;
    background-color: #ec8;
}
tr.highlight td{
    color: #223333;
    background-color: #cba;
}
input.placeholder{
    color:grey;
}
